.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  font-style: normal;
  list-style: none;
  padding: 0;
}

.sliderHolder > ul > li {
  width: 100%;
  float: left;
}

.sliderHolder {
  float: left;
  width: 100%;
  height: 416px;
  overflow: hidden;
}

.slider_navigator {
  float: left;
  width: 100%;
  position: relative;
}

/* .container{ max-width:100%; } */

.sliderHolder > ul > li {
  /* position: absolute; */
  opacity: 0;
}

.slidethumb > ul > li {
  display: table-cell;
  height: 96px;
  /* padding: 10px 6px; */
  border: 2px solid transparent;
  padding: 0;
}

.slidethumb > ul > li > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: auto;
  display: block;
  padding: 4px;
}

.slidethumb > ul > li:last-child > img {
  width: 100%;
}

.slidethumb > ul {
  display: table;
  width: 100%;
  position: relative;
  top: 30px;
}

.sliderHolder > ul > li > img {
    width: 100%;
    height: 100%;
}

.slider_navigator > a {
  position: absolute;
  transform: translateY(-320%);
  height: 80px;
  width: 80px;
  font-size: 56px;
  background: rgba(255, 255, 255, 0.11);
  display: inline-block;
  text-align: center;
  color: #2d2d2d;
  text-shadow: -2px 0px 0px #868686;
  opacity: 0.4;
  line-height: 83px;
}

a.smh_rightarrw.float-right {
  right: 0;
  text-shadow: 2px 0px 0px #868686;
}

.slidethumb > ul > li.active,
.slidethumb > ul > li.active:hover {
  border: 2px solid red;
}

.sliderMainHolder:hover .slider_navigator > a {
  opacity: 1;
}

.slidethumb > ul > li:hover {
  border: 2px solid #868686;
}

@media (max-width: 767px) {
  .sliderHolder {
    height: initial;
  }
  .slidethumb > ul > li {
    height: 40px;
  }
  .slider_navigator > a {
    transform: translateY(-180%);
    width: initial;
    height: initial;
    font-size: 25px;
    padding: 9px;
    opacity: 1;
    line-height: normal;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .slider_navigator > a {
    transform: translateY(-300%);
    line-height: normal;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider_navigator > a {
    transform: translateY(-250%);
  }
  .sliderHolder {
    height: initial;
  }
  .slidethumb > ul > li {
    height: 66px;
  }
}

.sliderHolder > ul {
  margin: 0;
}
.sliderplayer {
  position: absolute;
  bottom: 74px;
  right: 0;
}

.sliderMainHolder {
  position: relative;
}
